@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030303;
  --foreground: #ffffff;
}

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-feature-settings: "rlig" 1, "calt" 1;
    overflow-x: hidden;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface-50/50 backdrop-blur-md border border-white/10;
  }
  
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
